.resources{
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resources__logo-zone{
  width: 1100px;
  margin: 80px auto 217px auto;
  padding: 0;
  list-style: none;
  justify-content: space-between;
  flex-wrap: wrap;
  display: flex;
}

.resources__logo{
  width: 270px;
  height: 38px;
}

.resources__logo:hover{
  opacity: 0.5;
  transition: 1s;
}