@keyframes rotation{
  from {
    transform: rotate(0deg);
}
to {
    transform: rotate(360deg);
}
}

.kaufman{
  display: flex;
  position: relative;
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #1f1f1f;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  z-index: 1;
  margin: 0;
}

.table_theme_dark{
  position: relative;
  margin: 0;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin: 80px 0 0 0;
}

.section-title_theme_dark{
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  color: #f2f2f2;
  margin: 0 0 20px 0;
}

.section-subtitle_theme_dark{
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  color: #f2f2f2;
  margin: 0;
}

.table__heading_theme_dark{
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  color: #f2f2f2;
  margin-bottom: 20px;
  margin: 0;
}

.table__text_theme_dark{
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #f2f2f2;
  margin: 20px 0 0 0;
}