.khan{
  background-color: #f2f2f2;
  padding-top: 105px;
  margin: 0 auto;
  display: flex;
}

.khan__container{
  width: 80%;
  margin: 0 auto;
}

.khan__author{
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  margin: 0;
}

.khan__title{
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  margin: 0;
}

.khan__quote{
  width: 790px;
  margin: 50px 0 36px 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.khan__quote-author{
  margin: 0 0 10px 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.khan__quote-author-subline{
  margin: 0 0 68px 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: normal;
}

.khan__book-container{
  margin: 0;
  display: flex;
}

.khan__book-pic{
  width: 620px;
  height: 608px;
  margin: 0 48px 0 0;
  object-fit: cover;
  object-position: top;
}

.khan__buy-link{
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  margin: 0;
  color: #2f80ed;
  text-decoration: none;
  align-items: flex-start;
}

.khan__buy-link:hover{
  opacity: 0.5;
  transition: 1s;
}