.header {
  display: flex;
  position: relative;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 100px;
  overflow: hidden;
  /* выше установили ограничения для секции */
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  background-color: #2f80ed;
  position: absolute;
  height: 568px;
  width: 568px;
  top: 64px;
  right: 0;
  z-index: 0;
  animation: rotation 20s linear infinite;
}

.logo_place_header{
  position: absolute;
  height: 32px;
  width: 183px;
  left: 64px;
  top: 30px;
}

.header__title{
  margin: auto 0 auto 64px;
  color: #000;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  width: 730px;
  z-index: 3;
}

.header__subtitle{
  position: absolute;
  width: 388px;
  margin: 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  display: block;
  bottom: 30px;
  left: 64px;
  z-index: 2;
}

.header__link{
  color: #2f80ed;
  text-decoration: none;
}

.header__link:hover{
  opacity: 0.5;
  transition: 1s;
}


.header__main-illustration{
  position: absolute;
  height: 608px;
  width: 765px;
  bottom: 0;
  right: 0;
  margin: 0;
  z-index: 1;
}