.header {
  display: flex;
  position: relative;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 100px;
  overflow: hidden;
}