.techniques{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto 100px auto;
  width: 80%;
}

.cards{
  padding: 0;
  margin: 0;
  width: 920px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
}

.cards__item{
  width: 240px;
  margin: 0 100px 0 0;
}

.cards__item:nth-child(3n){
  margin: 0;
}

.cards__image{
  width: 160px;
  height: 160px;
  margin: 60px 40px 0 40px;
  border-radius: 50%; 
}

.cards__title{
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin: 43px 0 16px 0;
  text-align: center;
}

.cards__description{
  line-height: 23px;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
  text-align: center;
}