.kaufman{
  display: flex;
  position: relative;
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #1f1f1f;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  z-index: 1;
  margin: 0 0 100px 0;
}