.table_theme_dark{
  position: relative;
  margin: 0;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin: 80px 0 0 0;
}

.table__heading_theme_dark{
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  color: #f2f2f2;
  margin-bottom: 20px;
  margin: 0;
}

.table__text_theme_dark{
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #f2f2f2;
  margin: 20px 0 0 0;
}