.two-columns{
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__brief{
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
  margin: 0;
}

.two-columns__paragraph {
  margin-top: 0;
  margin-bottom: 30px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__paragraph:last-child {
  margin-bottom: 0;
}

.two-columns__span-accent{
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}