.header__title{
  margin: auto 0 auto 64px;
  color: #000;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  width: 730px;
  z-index: 3;
}