body{
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
}

.header {
  display: flex;
  position: relative;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 100px;
  /* выше установили ограничения для секции */
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  background-color: #2f80ed;
  position: absolute;
  height: 568px;
  width: 568px;
  top: 64px;
  right: 0;
  z-index: 0;
}

.logo_place_header{
  position: absolute;
  height: 32px;
  width: 183px;
  left: 64px;
  top: 30px;
}

.header__title{
  position: absolute;
  margin: 0;
  left: 64px;
  color: #000;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  width: 730px;
  z-index: 3;
}

.header__subtitle{
  position: absolute;
  width: 388px;
  margin: 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  display: block;
  bottom: 30px;
  left: 64px;
  z-index: 2;
}

.header__subtitle a {
  color: #2f80ed;
  text-decoration: none;
}


.header__main-illustration{
  position: absolute;
  height: 608px;
  width: 765px;
  bottom: 0;
  right: 0;
  margin: 0;
  z-index: 1;
}

.two-columns{
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__brief{
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
  margin: 0;
}

.two-columns__paragraph {
  margin-top: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__span-accent{
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}

.description{
  margin-bottom: 100px;
}

.digits{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}

.table{
  margin: 0 auto;
  padding: 0;
  width: 1100px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
}

.section-title{
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  top: 90px;
  margin-bottom: 20px;
  width: 60%;
  margin: 0;
  text-align: center;
}

.section-subtitle{
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  width: 60%;
  margin: 0;
  margin-bottom: 60px;
  text-align: center;
}

.table__cell{
  width: 250px;
  margin-bottom: 60px;
}

.table__heading{
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 20px;
}

.table__text{
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
  margin-bottom: 20px;
}

.feynman{
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  background-color: #f2f2f2;
  min-height: 890px;
}

.feynman__img{
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  height: 637px;
  width: 867px;
}

.feynman__link{
  position: absolute;
  align-items: center;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #2f80ed;
  text-decoration: none;
}

.feynman__title{
  margin-top: 100px;
  margin-bottom: 70px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  width: 648px;
  z-index: 3;
}

.feynman__subtitle{
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  z-index: 2;
  margin: 0;
}

.kaufman{
  display: flex;
  position: relative;
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #000000;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.kaufman__triangle{
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../images/kaufman-triangle.svg");
  width: 877px;
  height: 877px;
  top: 0;
  right: -210px;
  z-index: 0;
}

.table_theme_dark{
  position: relative;
  z-index: 1;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-bottom: 80px;
}

.section-title_theme_dark{
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  color: #f2f2f2;
}

.section-subtitle_theme_dark{
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  color: #f2f2f2;
  margin-bottom: 80px;
}

.table__heading_theme_dark{
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  color: #f2f2f2;
  margin-bottom: 20px;
}

.table__text_theme_dark{
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #f2f2f2;
}

.footer{
  padding-top: 60px;
  padding-bottom: 40px;
  background-color: #000000;
}

.footer__columns{
  width: 90%;
  min-height: 350px;
  margin: 0 auto;
  justify-content: space-between;
  flex-wrap: wrap;
  display: flex;
}

.footer__column{
  display: flex;
  flex-direction: column;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  justify-content: space-between;
}

.footer__author{
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  color: #f2f2f2;
  margin-top: 18px;
  margin-bottom: 18px;
}

.footer__column-heading{
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  color: #f2f2f2;
  margin: 0;
  margin-bottom: 20px;
}

.footer__column-links{
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color: #f2f2f2;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer__social-icon {
  margin-right: 10px;
}

.footer__column-link {
  margin-bottom: 16px;
}

.footer__column-link a {
  display: flex;
  align-items: center;
  color: #f2f2f2;
  text-decoration: none;
}

.logo_place_footer{
  height: 35px;
  width: 183px;
  top: 0;
  right: 0;
}