.khan__buy-link{
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  margin: 0;
  color: #2f80ed;
  text-decoration: none;
  align-items: flex-start;
}

.khan__buy-link:hover{
  opacity: 0.5;
  transition: 1s;
}